---
import products from '@data/rawData.json';
import { getFirstImage } from '@libs/getFirstImage';

const categorias = [...new Set(products.map((p) => p.version))];

const productsByCategory = categorias.reduce((acc, version) => {

  acc[version] = products.filter((p) => p.version === version);
  return acc;

}, {} as Record<string, any[]>);
---
<div class="w-full flex flex-col py-4">
   {categorias.map((categoria) => (
    <ul class="product-row w-full overflow-x-auto scroll-smooth mb-8">
      <li class="text-shadow-white text-2xl md:text-3xl font-light mx-5 mb-3 text-text ">{'iPhone ' + categoria}</li>
      <div id={`row-${categoria}`} class="product-row w-full flex gap-8 mb-2 items-center justify-start">
        
        {productsByCategory[categoria]
        .filter(item => item.publicar == 'Público')
        .map((item) => (
          <a href={`/${item.id}`} class="card min-w-60 max-w-60 rounded-lg shadow-lg flex flex-col items-center justify-between bg-primary border-text/50 border">
            <img src={item.image1} alt={item.version} class="w-full aspect-square object-cover rounded-t-lg"  />
            <div class="info w-full h-full px-2 flex flex-col items-center justify-between py-2 align-middle gap-2">
              <p class="text-text text-xl font-light">{'iPhone ' +item.version+ ' ' + item.modelo}</p>
              <div class="w-full flex justify-around text-sm">
                <div class="w-20 flex flex-col items-center justify-center">
                  <p class="text-text-secondary">
                    <img src="/icons/storage.svg" alt="SSD" class="w-4 h-4 inline-block mr-1 invert-50" />
                  </p>
                  <p class="text-text-secondary">
                    {item.capacidad}
                  </p>
                </div>
                <div class="w-20 flex flex-col items-center justify-center">
                  <p class="text-text-secondary">
                    <img src="/icons/heart.svg" alt="Estado" class="w-4 h-4 inline-block mr-1 invert-50" />
                  </p>
                  <p class="text-text-secondary">
                    {item.estado}
                  </p>
                </div>
              </div>
              <p class="text-text-feature font-bold text-xl">S/. {item.precio}</p>              
            </div>
          </a>
        ))}

      </div>
    </ul>
   ))}
</div>

<script define:vars={{ categorias }}>
  function shuffle(container) {
    const items = Array.from(container.children);

    for (let i = items.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      container.appendChild(items[j]);
      items.splice(j, 1);
    }
  }

window.addEventListener("DOMContentLoaded", () => {
  categorias.forEach(cat => {
    const el = document.getElementById(`row-${cat}`);
    if (el) shuffle(el);
  });
});
</script>

